### Create a Data Series with data range as index

In [42]:
from datetime import datetime
from datetime import *
import pandas as pd
import numpy as np
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    0.104935
2000-01-02    0.086242
2000-01-03   -0.548822
2000-01-04    0.474746
2000-01-05    0.280693
2000-01-06    1.285524
2000-01-07   -0.339544
2000-01-08   -0.718346
2000-01-09    2.116787
2000-01-10   -1.352136
2000-01-11   -0.475206
2000-01-12   -1.275125
2000-01-13    0.817067
2000-01-14   -0.844707
2000-01-15    1.160736
2000-01-16   -0.044934
2000-01-17   -0.700907
2000-01-18    1.087249
2000-01-19    0.267777
2000-01-20    1.395331
2000-01-21   -1.595265
2000-01-22   -0.493009
2000-01-23    2.025949
2000-01-24   -1.061653
2000-01-25    1.833889
2000-01-26    0.183936
2000-01-27    1.012443
2000-01-28   -0.424165
2000-01-29   -1.124877
2000-01-30   -0.460593
                ...
2002-08-28    0.270536
2002-08-29   -0.524417
2002-08-30    1.272136
2002-08-31   -1.113612
2002-09-01   -0.314207
2002-09-02    0.468484
2002-09-03    0.208982
2002-09-04   -0.050297
2002-09-05   -0.171581
2002-09-06    0.131939
2002-09-07    1.975338
2002-09-08    1.065979
2002-09-09    0.110047
2002-09-10    0.035936
2002-09-11   -0.827569
2002-09-12    1.027725
2002-09-13    0.457201
2002-09-14   -0.515446
2002-09-15   -1.732777
2002-09-16   -2.266753
2002-09-17   -1.237437
2002-09-18    0.761185
2002-09-19   -0.193152
2002-09-20   -0.121696
2002-09-21    0.944104
2002-09-22   -1.406445
2002-09-23   -0.117386
2002-09-24   -1.112010
2002-09-25   -0.658365
2002-09-26   -0.179002
Freq: D, Length: 1000, dtype: float64

In [2]:
import datetime as datetime

In [3]:
longer_ts['2001']

2001-01-01    0.322478
2001-01-02    0.121378
2001-01-03    0.650092
2001-01-04    0.228236
2001-01-05   -0.921037
2001-01-06   -0.987198
2001-01-07   -0.389509
2001-01-08   -0.424943
2001-01-09    0.373894
2001-01-10    1.207697
2001-01-11    0.635910
2001-01-12    1.566505
2001-01-13   -0.501284
2001-01-14    0.604126
2001-01-15   -0.337159
2001-01-16   -0.070772
2001-01-17   -1.126577
2001-01-18   -0.194433
2001-01-19    2.487082
2001-01-20    0.246004
2001-01-21   -0.916748
2001-01-22    0.367449
2001-01-23    0.538949
2001-01-24    0.066158
2001-01-25   -0.313806
2001-01-26    0.523171
2001-01-27   -0.732949
2001-01-28   -2.862623
2001-01-29   -0.007649
2001-01-30    0.584882
                ...
2001-12-02    0.596213
2001-12-03   -1.428808
2001-12-04   -0.805587
2001-12-05    0.606353
2001-12-06    0.878936
2001-12-07   -0.983062
2001-12-08    0.559280
2001-12-09    0.825583
2001-12-10    0.700694
2001-12-11   -0.341682
2001-12-12   -0.245860
2001-12-13    0.542585
2001-12-14    0.322811
2001-12-15    0.429938
2001-12-16    0.323156
2001-12-17    1.077242
2001-12-18   -0.534870
2001-12-19    1.842347
2001-12-20    0.206334
2001-12-21   -0.936936
2001-12-22   -1.437617
2001-12-23    0.720742
2001-12-24   -1.143154
2001-12-25   -0.407282
2001-12-26    1.036683
2001-12-27   -1.420852
2001-12-28   -2.522333
2001-12-29    0.851141
2001-12-30    0.302849
2001-12-31    0.909376
Freq: D, Length: 365, dtype: float64

In [4]:
longer_ts['2001-05']

2001-05-01   -1.275249
2001-05-02   -0.876728
2001-05-03    0.645211
2001-05-04    0.655437
2001-05-05   -0.028527
2001-05-06    0.302256
2001-05-07    1.102036
2001-05-08    0.999979
2001-05-09    1.147327
2001-05-10   -1.026611
2001-05-11   -0.531253
2001-05-12   -1.170217
2001-05-13   -0.080639
2001-05-14   -0.598714
2001-05-15   -0.000776
2001-05-16    1.771853
2001-05-17    1.998731
2001-05-18    0.298384
2001-05-19    0.000432
2001-05-20   -0.914904
2001-05-21   -1.459736
2001-05-22    2.218401
2001-05-23   -0.756711
2001-05-24    0.267361
2001-05-25    1.246386
2001-05-26    0.421163
2001-05-27   -1.832901
2001-05-28   -0.029425
2001-05-29    2.478859
2001-05-30   -0.804481
2001-05-31   -0.362821
Freq: D, dtype: float64

In [5]:
dates = pd.date_range('1/1/2019', periods=100, freq='W-WED')
dates

DatetimeIndex(['2019-01-02', '2019-01-09', '2019-01-16', '2019-01-23',
               '2019-01-30', '2019-02-06', '2019-02-13', '2019-02-20',
               '2019-02-27', '2019-03-06', '2019-03-13', '2019-03-20',
               '2019-03-27', '2019-04-03', '2019-04-10', '2019-04-17',
               '2019-04-24', '2019-05-01', '2019-05-08', '2019-05-15',
               '2019-05-22', '2019-05-29', '2019-06-05', '2019-06-12',
               '2019-06-19', '2019-06-26', '2019-07-03', '2019-07-10',
               '2019-07-17', '2019-07-24', '2019-07-31', '2019-08-07',
               '2019-08-14', '2019-08-21', '2019-08-28', '2019-09-04',
               '2019-09-11', '2019-09-18', '2019-09-25', '2019-10-02',
               '2019-10-09', '2019-10-16', '2019-10-23', '2019-10-30',
               '2019-11-06', '2019-11-13', '2019-11-20', '2019-11-27',
               '2019-12-04', '2019-12-11', '2019-12-18', '2019-12-25',
               '2020-01-01', '2020-01-08', '2020-01-15', '2020-01-22',
               '2020-01-29', '2020-02-05', '2020-02-12', '2020-02-19',
               '2020-02-26', '2020-03-04', '2020-03-11', '2020-03-18',
               '2020-03-25', '2020-04-01', '2020-04-08', '2020-04-15',
               '2020-04-22', '2020-04-29', '2020-05-06', '2020-05-13',
               '2020-05-20', '2020-05-27', '2020-06-03', '2020-06-10',
               '2020-06-17', '2020-06-24', '2020-07-01', '2020-07-08',
               '2020-07-15', '2020-07-22', '2020-07-29', '2020-08-05',
               '2020-08-12', '2020-08-19', '2020-08-26', '2020-09-02',
               '2020-09-09', '2020-09-16', '2020-09-23', '2020-09-30',
               '2020-10-07', '2020-10-14', '2020-10-21', '2020-10-28',
               '2020-11-04', '2020-11-11', '2020-11-18', '2020-11-25'],
              dtype='datetime64[ns]', freq='W-WED')

In [6]:
long_df = pd.DataFrame(np.random.randn(100, 4), 
                        index=dates, 
                       columns=['Colorado','Texas','New York', 'Ohio'])

In [7]:
long_df.head(3)

            Colorado     Texas  New York      Ohio
2019-01-02 -0.754211 -0.189434 -0.757944 -0.037073
2019-01-09  0.759676 -1.201569 -2.868067 -0.614809
2019-01-16 -0.088474 -0.952047  0.350749  0.895272

In [8]:
long_df.loc['5-2019']

            Colorado     Texas  New York      Ohio
2019-05-01 -0.977333  0.806397 -0.520073  0.781594
2019-05-08 -0.368580 -0.131219  0.305050  0.637292
2019-05-15 -1.135308 -1.602212  0.174087  1.482767
2019-05-22 -0.740595 -0.058191 -0.014573  1.125877
2019-05-29 -1.048012  0.043217  2.275868 -0.101900

In [9]:
pd.date_range(start='2012-04-01',end ='2012-06-01',freq="W-Thu")

DatetimeIndex(['2012-04-05', '2012-04-12', '2012-04-19', '2012-04-26',
               '2012-05-03', '2012-05-10', '2012-05-17', '2012-05-24',
               '2012-05-31'],
              dtype='datetime64[ns]', freq='W-THU')

In [10]:
#freq can also be specified as an Offset object.
pd.date_range(start='1/1/2020', periods=5, freq=pd.offsets.MonthEnd(3))

DatetimeIndex(['2020-01-31', '2020-04-30', '2020-07-31', '2020-10-31',
               '2021-01-31'],
              dtype='datetime64[ns]', freq='3M')

In [11]:
#freq can also be specified as an Offset object.
pd.date_range(start='1/1/2019', periods=5, freq='3M')

DatetimeIndex(['2019-01-31', '2019-04-30', '2019-07-31', '2019-10-31',
               '2020-01-31'],
              dtype='datetime64[ns]', freq='3M')

### Hours and Minutes

In [12]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [15]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [19]:
pd.date_range('2019-01-01', periods=10, freq='1H30MIN20SEC')

ValueError: Invalid frequency: 1H30MIN20SEC

#### Iterate over the dates and print the number and name of the weekday

In [20]:
s = pd.date_range('2019-12-18',periods = 10)

for day in s:
    print(day.day,day.dayofweek,day.day_name())

18 2 Wednesday
19 3 Thursday
20 4 Friday
21 5 Saturday
22 6 Sunday
23 0 Monday
24 1 Tuesday
25 2 Wednesday
26 3 Thursday
27 4 Friday

#### Shifting (Leading and Lagging) Data
- ts.shift() - Shift index by desired number of periods with an optional time freq (or) “Shifting” refers to moving data backward and forward through time. Both Series and DataFrame have a shift method for doing naive shifts forward or backward, leaving the index unmodified:

In [21]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('2002', periods=4, freq='A'))
ts

2002-12-31   -1.852750
2003-12-31    1.047868
2004-12-31    0.922010
2005-12-31   -0.180712
Freq: A-DEC, dtype: float64

In [25]:
ts.shift(2)

2002-12-31         NaN
2003-12-31         NaN
2004-12-31   -1.852750
2005-12-31    1.047868
Freq: A-DEC, dtype: float64

In [26]:
ts.shift(-2)

2002-12-31    0.922010
2003-12-31   -0.180712
2004-12-31         NaN
2005-12-31         NaN
Freq: A-DEC, dtype: float64

In [27]:
ts.shift(-2, freq='M')

2002-10-31   -1.852750
2003-10-31    1.047868
2004-10-31    0.922010
2005-10-31   -0.180712
Freq: A-DEC, dtype: float64

In [28]:
ts.shift(3, freq='D')

2003-01-03   -1.852750
2004-01-03    1.047868
2005-01-03    0.922010
2006-01-03   -0.180712
dtype: float64

### Shifting dates with offsets

In [47]:
from pandas.tseries.offsets import Day, MonthBegin,MonthEnd

now = datetime(2019,12,18)
now

datetime.datetime(2019, 12, 18, 0, 0)

In [48]:

now + 2 *Day()

Timestamp('2019-12-20 00:00:00')

In [50]:
now + 2*MonthEnd()

Timestamp('2020-01-31 00:00:00')

In [51]:
now + Day()

Timestamp('2019-12-19 00:00:00')

In [53]:

now + MonthEnd(2)

Timestamp('2020-01-31 00:00:00')

### Anchored offsets can explicitly “roll” dates forward or backward by simply using their rollforward and rollback methods, respectively:

In [54]:
offset = MonthBegin()
offset,now

(<MonthBegin>, datetime.datetime(2019, 12, 18, 0, 0))

In [55]:
offset.rollforward(now)

Timestamp('2020-01-01 00:00:00')

In [56]:
offset.rollback(now)

Timestamp('2019-12-01 00:00:00')

### Time Zone Handling
- In Python, time zone information comes from the third-party pytz library (installable with pip or conda), This is especially important for historical data because the daylight saving time (DST) transition dates (and even UTC offsets) have been changed numerous times depending on the whims of local governments

In [57]:
import pytz
pytz.common_timezones

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Fort_Nelson', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Colombo', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kathmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Riyadh', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ulaanbaatar', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faroe', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/Perth', 'Australia/Sydney', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GMT', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Wake', 'Pacific/Wallis', 'US/Alaska', 'US/Arizona', 'US/Central', 'US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [58]:
tz = pytz.timezone('Asia/Kolkata')
tz

In [59]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Asia/Kolkata')

In [60]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0530', tz='Asia/Kolkata')